// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Rajdhani:400,600,700');

.open(@x){font:@x 'Open Sans', sans-serif;}
.rajd(@x){font:@x 'Rajdhani', sans-serif;}

// diretorios
@bg:'../images/bg/';
@misc:'../images/misc/';
@svg:'../images/svg/';
.bg(@x,@y){background:url('@{bg}@{x}') @y;}
.misc(@x,@y){background:url('@{misc}@{x}') @y;}
.svg(@x,@y){background:url('@{svg}@{x}') @y;}

// colors

@primary: #FBDC00;
@secundary: #F4D800;
@text: #7f7f7f;

// globals
body {
	padding: 0 100px;
	background-color: #191818;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	.boxsizing;
}

// hover 
@media only screen and (min-width: 1200px) {
	
}

// desktop 1024
@media only screen and (max-width: 1200px) {

}

// celular com porcentagem
@media only screen and (max-width: 992px) {

}
