// destaque
.featured {	
	margin-bottom: 50px;

	.container {
		position: relative;
	}

	&__slider {
		position: absolute;
		top: 0;
		right: 45px;
		z-index: -100;

		.image {		
			width: 100%;	
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0;
			.transition(.5s);
			.transform(translate3d(-10%, 0, 0));	
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: @primary;
			visibility: hidden;
			.transition(.5s);
			.transform(translate3d(0, 0, 0));	
		}

		&:before {			
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: 200;
			width: 100%;
			height: 100%;
			background: #141416;
		}

		&.show {

			&:after {
				visibility: visible;
				.delay(1.3s);
				.transform(translate3d(30px, 30px, 0));	
			}

			&:before {			
				-webkit-animation: mask 1.5s;
				animation: mask 1.5s;
				-webkit-animation-iteration-count: 1;
				animation-iteration-count: 1;
				-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}

			.image {
				opacity: 1;
				.delay(.6s);
				.transform(translate3d(0, 0, 0));	
			}		
		}
	}

	&__heading {	
		display: table;

		.inner {
			display: table-cell;
			vertical-align: middle;
		}

		.head {					
			color: #fff;
			letter-spacing: .2px;
			line-height: 120%;
			font-family: 'Rajdhani',sans-serif;
			font-weight: 700;	
		}

		.caption {
			position: relative;
			display: block;					
			color: #fff;

			&:after {
				content: '';
				position: absolute;
				top: 18px;
				left: -30px;
				width: 20px;
				border-bottom: 1px solid #fff;
			}
		}		

		.btn {
			display: table;
			margin-top: 10%;
		}
	}	
}

@media only screen and (min-width: 768px) {

	// destaque
	.featured {			

		&__heading {			
			width: 350px;
			height: 70vh;

			.head {				
				font-size: 50px;										
			}

			.caption {		
				margin-right: 40%;			
				font-size: 24px;				
			}	
		}

		&__slider {
			width: 60vw;		
			
			.image {
				height: 70vh;
			}
		}
	}

}

@media only screen and (min-width: 992px) {

	// destaque
	.featured {	
		margin-bottom: 190px;		

		&__heading {			
			width: 350px;
			height: 70vh;

			.head {
				font-size: 50px;										
			}

			.caption {		
				margin-right: 40%;			
				font-size: 24px;				
			}	
		}

		&__slider {
			width: 60vw;		

			.image {
				height: 70vh;
			}
		}
	}

}

@media only screen and (min-width: 1170px) {

	// destaque
	.featured {			

		&__heading {	
			width: 420px;		
			margin-left: 100px;

			.head {
				font-size: 60px;			
			}

			.caption {		
				margin-right: 60%;	
			}	
		}

		&__slider {
			width: 56.8vw;		
		}
	}

}


// celulares tela pequena
@media only screen and (max-width: 767px) {

}